<%- include('./partials/head') %>

<div class="container">
    <div class="card">
        <div class="card-inner">
            <div class="front">
                <img src="Squad1D-Ruben.jpg" alt="Ruben's foto">
            </div>
            <div class="back"></div>
        </div>
    </div>
</div>

<script src="script.js"></script>

<%- include('./partials/foot') %>
